.destacadoscontainer {
    background-color: var(--background-azul-claro);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.destacados__titulo {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #4F4C4C;
    margin-bottom: 30px;

}

.destacados__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.destacados__panel-imagen {
    width: 100vw;
    max-width: 600px;
    margin-bottom: .5rem;

}

.destacados__panel-texto {
    color: #000000;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 20px;
}

.destacados__boton {
    color: var(--boton-rojo);
    border-color: var(--boton-rojo);
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: rgba(227, 59, 59, 1);
    display: flex;
    justify-content: center;

    
}